<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <title>发送文件</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <br>
  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <div class="card text-center"><br>
          <h2 class="card-title">发文件到电脑</h2>
          <div class="card-body">
            <form id="fileUploadForm">
              <div class="form-group">

                <label for="file_input" class="btn btn-primary form-control form-control-lg">
                  发文件
                  <input id="file_input" type="file" multiple style="display: none;" />
                </label>

              </div>
            </form>

            <input id="text_input" type="text" class="form-control form-control-lg" style="margin-bottom: 0.5em;">
            <button id="text_upload_btn" class="btn btn-primary form-control form-control-lg" style="margin-bottom: 0.5em;">
              发消息
            </button>

            <button id="clipboard_upload_btn" class="btn btn-primary form-control form-control-lg" style="margin-bottom: 0.5em;">
              发剪切板(施工中)
            </button>

            <div id="hello"></div>

            <p id="upload_state" class="">等待选择完成</p>
          </div>
        </div>
      </div>

    </div>


    <script type="text/javascript">
      window.addEventListener("load", function () {
        // 我们需要获取表单元素
        var form = document.getElementById("fileUploadForm");
        var fileInput = document.getElementById("file_input")
        var textInput = document.getElementById("text_input")
        var textUploadBtn = document.getElementById("text_upload_btn")
        const uploadState = document.getElementById('upload_state')
        const clipboardUploadBtn = document.getElementById('clipboard_upload_btn')
        const hello = document.getElementById('hello')

        const clipboardObj = navigator.clipboard;
        
        // 选择文件后, 开始上传
        fileInput.addEventListener("change", function (event) {
          var FD = new FormData();
          uploadState.innerHTML = '正在上传..'
          console.log(fileInput.files);
          const data = fileInput.files
          for (name in data) {
            FD.append(name, data[name]);
          }
          sendFile(FD);
        });

        // 输入文字后, 开始上传
        textUploadBtn.addEventListener("click", function (event) {
          uploadState.innerHTML = '正在上传..'
          console.log(textInput.value);
          sendText(textInput.value);
        })

        // 发送剪切板文本
        clipboardUploadBtn.addEventListener("click", event => {
          textInput.select()
          document.execCommand('copy')
        })

        // ...然后接管表单的提交事件
        // form.addEventListener("submit", function (event) {
        //   event.preventDefault();
        //   uploadState.innerHTML = '正在上传...'
        //   sendFile();
        // });

        function sendText(text) {
          var httpRequest  = new XMLHttpRequest();

          // 数据成功发送时
          httpRequest .addEventListener("load", function (event) {
            uploadState.innerHTML = event.target.responseText
          });

          // 数据发送失败时
          httpRequest .addEventListener("error", function (event) {
            alert('哎呀！出了一些问题。');
          });

          // 打开链接
          var url = window.location.href;
          httpRequest .open("POST", `${url}msg`);

          // 发送请求
          httpRequest.setRequestHeader("Content-type","application/x-www-form-urlencoded");//设置请求头 注：post方式必须设置请求头（在建立连接后设置请求头）
          httpRequest.send(`msg=${text}`);

        }

        function sendFile(formData) {
          var httpRequest  = new XMLHttpRequest();

          // 我们把这个 FormData 和表单元素绑定在一起。
          // var FD  = new FormData(form);

          // 我们定义了数据成功发送时会发生的事。
          httpRequest .addEventListener("load", function (event) {
            // alert(event.target.responseText);
            uploadState.innerHTML = event.target.responseText
          });

          // 我们定义了失败的情形下会发生的事
          httpRequest .addEventListener("error", function (event) {
            alert('哎呀！出了一些问题。');
          });

          // 我们设置了我们的请求
          var url = window.location.href;
          httpRequest.open("POST", `${url}upload`);

          // 发送的数据是由用户在表单中提供的
          httpRequest.send(formData);
        }

      });

    </script>
</body>

</html>