.qrcode {
    width: 10rem;
    height: 10rem;
    /* background-color: blanchedalmond; */
    text-align:center;
}

.step_img {
    width: 18rem;
    text-align:center;
}

.ip_img {
    width: 30rem;
    text-align:center;
}

.center {
    text-align:center;
}

.hidden {
    display: none;
}

.show {
    display: block;
}
